// footer
footer.footer
	div.container
		.footer__content
			section.footer-contacts
				p.footer-contacts__text
					| БАРБЕРШОП «БОРОДИНСКИЙ»
					br
					| АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8
					br
					| КАК НАС НАЙТИ?
					br
					| ТЕЛЕФОН: +7 (495) 666-02-66
			section.footer-socials
				p.footer-socials__title Давайте дружить!
				ul.footer-socials__list
					li.footer-socials__item
						a.footer-socials__link.footer-socials__link--facebook(href='#') Facebook
					li.footer-socials__item
						a.footer-socials__link.footer-socials__link--instagram(href='#') Instagram
					li.footer-socials__item
						a.footer-socials__link.footer-socials__link--vk(href='#') VK
			section.footer-copyright
				p.footer-copyright__title Разработано:
				a.btn.footer-copyright__btn(href="#") HTML Academy

script(src='/js/foundation.js' defer)
script(src='/js/main.js' defer)
