extends ../layouts/main-layout.pug

block title
  title Главная

block content
  header.header
    .container
      +navigation('Главная', additionClass="navigation__link--active")
      .header__user-block-pos
        .user-block
          a(href="#").user-block__login Вход

  main.index-page
    .container
      .main-logo
        .main-logo__img-wrap
          img(src="/images/borodinski-logo.png", alt="main-logo").main-logo__img
      section.features
        ul.features__list
          li.features__item
            .features__name Быстро
            .features__text МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ - СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
          li.features__item
            .features__name Круто
            .features__text ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.

          li.features__item
            .features__name Дорого
            .features__text НАШИ МАСТЕРА - ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?
      
      .index-content
        .index-content__left
          h2.index-content__title Новости
          .news-preview
            ul.news-preview__list
              li.news-preview__item
                p.news-preview__text НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
                time(datetime='2016-01-18').news-preview__time 11 Января
              li.news-preview__item
                p.news-preview__text В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ 
                time(datetime='2016-01-18').news-preview__time 11 Января
            a(href="#").btn.news-preview__btn Все новости
        .index-content__right
          h2.index-content__title Фотогалерея
          .gallery
            figure.gallery__content
              img(src="/images/gallery-content.jpg", alt="gallery-img" width='286' height='164').gallery__img
            .gallery__controllers
              button.btn.gallery__prev-btn Назад
              button.btn.gallery__next-btn Вперед
            
      .index-content
        .index-content__left.index-content__left--width
          h2.index-content__title Контактная информация
          .contact-info
            p.contect-info__text
              | БАРБЕРШОП «БОРОДИНСКИЙ» 
              br
              | АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8
              br
              | ТЕЛЕФОН: +7 (495) 666-02-66
            p.contect-info__text 
              | ВРЕМЯ РАБОТЫ: 
              br
              | ПН — ПТ: С 10:00 ДО 22:00
              br
              | СБ — ВС: С 10:00 ДО 19:00
            .contact-info__controllers
              a(href="#").btn.contact-info__link Как проехать
              a(href="#").btn.contact-info__feedback Обратная связь
        .index-content__right
          h2.index-content__title Записаться
          .booking
            .booking__text УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
            form.booking__form(action="")
              .booking__input-wrap
                input.input.booking__input(type="text" placeholder='Дата')
                input.input.booking__input(type="text" placeholder='Время')
                input.input.booking__input(type="text" placeholder='Ваше имя')
                input.input.booking__input(type="text" placeholder='Телефон')
              button.btn.booking__btn Отправить
      .modal
        i.modal__close#modal-close
        .modal__title Личный кабинет
        form(action="").modal__form
          label.modal__label Ведите пожалуйста свой логин и пароль
          input.modal__input(type="text" name='login')
          input.modal__input(type="text" name='password')
          .modal__footer
            label.checkbox-group.modal__checkbox-label
              input.checkbox-group__input(type="checkbox" name='')
              span.checkbox-group__indicator
              span.modal__checkbox-text Запомнить меня
            a(href="#").modal__forgot-pass Я забыл пароль!
          input(type="submit" value='Войти').btn.modal__button
      .map
        i.map__close
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.93799466755!2d55.95330921605977!3d54.72830547800037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a446d2ee27b%3A0x5db465c7ada373f2!2z0YPQuy4g0KbRjtGA0YPQv9GLLCA3Niwg0KPRhNCwLCDQoNC10YHQvy4g0JHQsNGI0LrQvtGA0YLQvtGB0YLQsNC9LCA0NTAwMDA!5e0!3m2!1sru!2sru!4v1554317420828!5m2!1sru!2sru', width='765', height='560', frameborder='0', style='border:0', allowfullscreen='')