extends ../layouts/main-layout.pug

block title
  title Прайс-лист

block content
  header.header
    .container
      .header__logo-pos
        .header__logo-wrap
          img(src="/images", alt="").header__logo-img
      .header__nav-pos
        +navigation('Магазин', additionClass="navigation__link--active")
      .header__user-block-pos
        .user-block
          a(href="#").user-block__login Вход
  main.shop
    div.container
      .shop__header
        h1.shop__title Средства для ухода
        nav.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a(href="/index.html").breadcrumbs__link.breadcrumbs__link--first-child  Главная
            li.breadcrumbs__item
              a(href="/shop.html").breadcrumbs__link  Магазин
            li.breadcrumbs__item
              a(href="/item.html").breadcrumbs__link.breadcrumbs__link--active  Средства для ухода
      .shop__left
        aside.shop-filter
          form.shop-filter__form(action="")
            .shop-filter__producer
              .shop-filter__title Производители:
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text Baxter of California
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text Mr Natty
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text Suavecito
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text Malin+Goetz
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text Murray’s
              label.checkbox-group.shop-filter__checkbox-label
                input.checkbox-group__input(type="checkbox" name='')
                span.checkbox-group__indicator
                span.checkbox-group__text American Crew
            .shop-filter__product-groups
              .shop-filter__title Группы товаров:
          button.btn.shop-filter__btn Показать
      .shop__right
        section.shop-content
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
          article.shop-content__product
            .shop-content__img-wrap
              img(src="/images/shop-img.png", alt="").shop-content__img
            .shop-content__product-footer
              a(href="/item.html").shop-content__product-link
                h1.shop-content__title Набор для путешествий  «Baxter of California»
              .shop-content__footer
                .shop-content__price 2900 руб.
                button.btn.shop-content__btn Купить
        nav.history-nav
          ul.history-nav__list
            li.history-nav__item
              a(href="#").history-nav__link 1
            li.history-nav__item
              a(href="#").history-nav__link.history-nav__link--active 2
            li.history-nav__item
              a(href="#").history-nav__link 3
            li.history-nav__item
              a(href="#").history-nav__link 4