.modal {
  display: none;
  position: absolute;
  left: 50%;
  width: 300px;
  top: 120px;
  margin-left: -230px;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 60px;
  padding-left: 80px;
  background-image: url('/images/barbershop-index.jpg');
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.75);
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal__show {
  display: block;
  animation: bounce 0.6s;
}

.modal__error {
  animation: shake 0.6s;
}



.modal__close {
  position: absolute;
  top: 9px;
  right: -36px;
  display: block;
  width: 23px;
  height: 23px;
  background: url('/images/close-icon.png') center no-repeat;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 33px;
  @include ptSans('bold');
  color: #000000;
}

.modal__label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  @include ptSans('bold');
  color: #000000;
}

.modal__checkbox-label {
  float: left;
}

.modal__input {
  display: block;
  width: 178px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow Bold';
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  background-color: #f9f6f3;
  outline: none;
  border: none;
  text-transform: uppercase;
  border: 2px solid #000000;

  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
  font-size: 14px;
  line-height: 14px;
  @include ptSans('bold');
  color: #000000;

  &:last-child {
    margin-bottom: 15px;
  }
}

.modal__footer {
  @extend %clearfix;
  margin-bottom: 15px;
}

.modal__checkbox-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
  @include ptSans('bold');
  color: #000000;
}

.modal__forgot-pass {
  float: right;
  font-size: 14px;
  line-height: 16px;
  @include ptSans('bold');
  color: #000000;
}

.modal__button {
  width: 100%!important;
}

.map {
  display: none;
  position: absolute;
  top: 800px;
  border: 7px solid #ffffff;
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.75);
}

.map__show {
  display: block;
}

.map__close {
  position: absolute;
  top: 9px;
  right: -36px;
  display: block;
  width: 23px;
  height: 23px;
  background: url(/images/close-icon.png) center no-repeat;
  cursor: pointer;
}